.createdish-column {
    border-right:1px solid black;
    
}
.grid-style {
    border-bottom: 1px solid black;
    margin-bottom: 5px !important;
}

.header-class{
    padding-top: 30px !important;
    background-color: darkgray;
    
}
.row-no-padding{
   padding:0 !important; 
}
.bgcolor-black {
    background-color: #1f1d1d;
    padding-right: 0 !important;
}
.border-right{
    border-right: 1px solid black;
}